# Credenciales de autenticación SSO (Punku)
REGINSA_USER_1=tu_usuario_qa
REGINSA_PASS_1=tu_contrasena_qa

# URLs de los servicios
REGINSA_BASE_URL=https://reginsaqa.sunedu.gob.pe
REGINSA_API_BASE_URL=https://reginsaapiqa.sunedu.gob.pe/api
