BASE_URL=https://api.reginsa.example.com
K6_LOCAL_IPS=192.168.28.48-192.168.28.57
REGINSA_USER_1=usuario1
REGINSA_PASS_1=clave1
REGINSA_USER_2=usuario2
REGINSA_PASS_2=clave2
K6_PROBAR_RESTRICCIONES=true
