# Credenciales de autenticación SSO (Punku)
REGINSA_USER_1=lizvidal
REGINSA_PASS_1=QA1234511qa

# URLs de los servicios
REGINSA_UI_BASE_URL=https://reginsaqa.sunedu.gob.pe
REGINSA_API_BASE_URL=https://reginsaapiqa.sunedu.gob.pe/api
